.header{
    width: 100%;
    height: 80px;
    line-height: 80px;
    /* position: fixed; */
    background-color: #141124;
    z-index: 9;
    
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo h2{
 margin-bottom: 0;
}
.nav_list{
    display: flex;
    align-items: center;
    margin-bottom: 0;
    text-decoration: none;
    list-style: none;
    column-gap: 2.7rem;

}
.nav_list a{
    color: white;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    
}
.nav_list a:hover{
    color: #f5b70a;
   
}
.custom_search{
    display: flex;
    align-items: center;
    padding: 10px 25px;
    height: 35px;
border-radius: 50px;
background-color: #0a071a;
border: 1px solid #c4c4c4;

}
.custom_search input{
 border: none;
 outline: none;
 background-color: transparent;
 color: white;
 
}
.custom_search span i{
    cursor: pointer;
    

}
.mobile_menu span i{
    font-size: 1.3rem;
    
}
.mobile_menu{
    display:none;
}
.cart_icon {
    position: relative;
    z-index: 999;
    width: 40px;
  
    height:30px;
    border-radius: 5px;
    background:  #f76e11;
    display:flex;
    text-align: center;
    justify-content: center;

}

.cart_icon i{
    margin-top: 8px;
  
}
.badge{
    position: absolute;
    top: -2px;
    right: -3px;
    z-index: 1000;
    color: #141124;
    font-size:  0.8rem;;
    font-weight: 700;
    
}

.header_shrink{
    position: sticky;
    top: 0;
 background-color: #0a071a;
 padding: 10px;
    left: 0;
    box-shadow:  5px 5px 15px -5px #fde4e4;
}




/* responsive */

@media only screen and (max-width:992px) {
    .nav_menu{
    
        position:fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
         z-index: 99;
        background-color: #0a071a7e;
        display:none;
        
    }
    .nav_list_wrapper{
     
        position: absolute;
        top: 0;
        right: 0;
        width: 250px;
        height: 100%;
        z-index: 100;
        background-color:#141124;
        flex-direction: column;
        box-shadow: 5px 5px 15px -5px cart_item-add;
        justify-content: center !important;
        padding: 0px 20px;
        
    }
    .nav_list{
        flex-direction: column;
        padding: 0;
    }
    .nav_item a{
      font-size: .9rem;
    }
    .header{
        line-height: 40px;
        height: 50px;
        padding: 10px 0px;
    }
    .custom_search{
        border: 1px solid #c4c4c4;
        padding: 5px 15px;
        font-size: 0.9rem;
        height: 30px;
        margin-top: 15px;
    }
    .logo h2{
        font-size: 1.3rem;
    }
    .mobile_menu{
        display: block;
    }
.logo h2{
    font-size: 1.5em;

}
.active_menu{
    display: block;
}
.cart_icon {
    position: relative;
    z-index: 999;
    width: 40px;
    height: 35px;
    border-radius: 5px;
    background:  #f76e11;
    display:flex;
    text-align: center;
    justify-content: center;

}
.cart_icon i{
    margin-top: 0px;
}
.badge{
    position: absolute;
    top: 0px;
    right: -3px;
    z-index: 1000;
    color: #141124;
    font-size:  0.8rem;;
    font-weight: 700;
    
}
}



